/.htaccess
/index.php
application/config/config.php
application/config/database.php
application/logs/
assets/images/catalog_product_image/
assets/images/company_image/
assets/images/etiquetas/
assets/images/product_image/
assets/images/store_image/
assets/images/xml/
assets/images/csv_of_products_uploaded/
assets/images/csv_of_addon_sku_uploaded/
assets/files/product_upload/
assets/files/addon_sku_upload/
assets/images/csv_of_sync_skuseller_skumkt_uploaded/
assets/files/sync_skuseller_skumkt_upload/
assets/images/csv_of_group_simple_sku_uploaded/
assets/files/sync_group_simple_sku_upload/
assets/files/temp/
importacao/frete/**
gitHub_diogo.code-workspace
/nbproject/private/
/nbproject/
.vscode/
/assets/files/carrefour/
assets/files/xml/
favicon.ico
application/controllers/Api/Tests/
application/controllers/BatchC/Tests/
application/controllers/Tests/
assets/files/phases_upload/
.idea/
.settings/
nbproject/
discountworksheet/
system/libraries/Vendor/composer/platform_check.php
assets/docs/conciliacao/
assets/files/nfes_upload/
dump.rdb
assets/files/change_product_category
version.txt
assets/files/fix_variation_equals/
phpinfo.php
assets/files/fix_integration_id/

vendor
.phpunit.result.cache
composer.lock
.env
.php-cs-fixer.cache
